.card{
     background-color: rgba(127, 255, 214, 0.363);
     text-align: center;
     padding: 20px;
}
.btnInput{
      padding: 5px;    
}
.inputdata{
    padding:  10px;
    width: 70%;
    border: none;
}
.weatherBtn{
     border: none;
     padding:  10px;
}
.dynamicdiv{
    padding: 5px;
}
.dynamicdiv ul li{
 list-style: none;
 text-transform: capitalize ;
}
